# Fichiers et dossiers spécifiques à Visual Studio
.vs/
ipch/
x64/
x86/
Win32/
Debug/
Release/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.VC.db
*.VC.VC.opendb
*.aps
.vscode/
*.ncb
*.opensdf
*.sdf
*.cachefile
.vspscc
.builds
*.pidb
*.log
*.tlog
*.lastbuildstate
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
*.vssscc
*.bak

# Fichiers de précompilation
*.ipch
*.pdb
*.idb

# Fichiers de compilation C++
*.o
*.ko
*.obj
*.elf
*.gch
*.so
*.so.*
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/

# Fichiers spécifiques aux projets C++
*.sln.ide
.idea/
cmake-build-*/
Generated\ Files/

# Dossiers générés
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
BundleArtifacts/
_[Pp]ackages/

# Fichiers spécifiques aux plugins Visual Studio
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet
packages/
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Dossiers et fichiers utilisateur
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Fichiers divers
*.Cache
ClientBin/
~$*
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
orleans.codegen.cs
*.pyc

# Fichiers de backup et temporaires
*~
*.bak
*.swp
*.tmp_proj
*._*

# Outils et analyseurs
.JustCode
_TeamCity*
*.dotCover
*.coverage
*.coveragexml
_NCrunch_*
nCrunchTemp_*
*.mm.*
AutoTest.Net/
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Fichiers du système d'exploitation
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
